body{
  background-color: #1C2F4F;
}

#score {
  margin-right: 10px;
  text-align: center;
  float: right;
  color: black;
  font-size: 15px;
  margin-top: 10px;
  border-style: solid;
  border-color: white;
  width: 100px;
  background-color: white;
  border-radius: 5px;
  height: 50px;
}
.attribution {
  color: white;
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  margin-bottom: 0;
}

.scoreboard{
  margin: auto;
  border-radius: 10px;
  font-size: 30px;
  border: 1px solid white;
  position: relative;
  left: 250;
  width: 300px;
  height: auto;
  clear: both;
  margin-top: 30px;

}

#logo {
  width: 40%;
  top: 7%;
  margin-left: 13px;
  margin-top: 10px;
}

#score-number {
  margin-right: 20px;
}

a:link{
  color: white;
}

p{
  color: white;
}
